.toDo-input {
	display: block;
	width: 100%;
	padding: 10px 15px;
	appearance: none;
	border: none;
	background-color: #F3F3F3;
	font-size: 20px;
	outline: none;
	text-align: center;
}

.toDo-submit {
	display: block;
	width: 100%;
	max-width: 200px;
	appearance: none;
	border: none;
	outline: none;
	background: none;
	background-color: #FE4880;
	color: #FFF;
	margin: 15px auto;
	padding: 10px 15px;
	font-size: 18px;
	font-weight: 700;
	
	&:hover {
		cursor: pointer;
		background-color: #e73f72;
	}
}

.toDo {
	display: flex;
	align-items: center;
	padding: 10px 15px;
	background-color: #FFF;
	border-bottom: 1px solid #DDD;

	&:hover {
		cursor: pointer;
		background-color: #ffa2be !important;
		color: #FFF;
	}
}

.toDo:nth-child(even) {
	background-color: #EEE;
}

.toDo:last-of-type {
	border-bottom: 0;
}

.toDo .id {
	flex: 1 1 50px;
}

.toDo .content {
	flex: 1 1 100%;
}

.toDo.completed .content {
	text-decoration: line-through;
}

.toDo .delete {
	padding: 10px 15px;
	font-weight: 700;
	background-color: lightcoral;
	color: #FFF;
	border: none;

	&:hover {
		cursor: pointer;
		background-color: red;	
	}
}