<div>

    <form (submit)="addToDo()"> 

        <input type="text" name="inputToDo" placeholder="Enter toDo..." class="toDo-input" [(ngModel)]="inputToDo">

        <input type="submit" value="Add toDo" class="toDo-submit">

    </form>

    <div *ngFor="let toDo of toDos; let i = index" class="toDo {{ ( toDo.completed ? 'completed' : '' ) }}" 
        (click)="toggleCompleted(i, toDo.customIdName)">
        
        <div class="id">{{ i }}</div>
        
        <div class="content">{{ toDo.content }}</div>
        
        <button class="delete" (click)="deleteToDo(toDo.customIdName)">Remove</button>
    
    </div>

</div>